body {
    background-color: #FFFFE0;
    margin: 0;
}

#title {
    text-align: center;
    color: #B8860B;
    font-family: sans-serif;
    padding-bottom: 15px;
    padding-top: 15px;
}

li,
ul {
    list-style-type: none;
    display: inline;
}

nav {
    text-align: center;
}

.container {
    padding-top: 10px;
    background-color: #FAFAD2;
    padding-bottom: 30px;
}

p {
    font-family: serif;
    font-size: 16px;
    text-align: center;
    color: #800000;
}

h2 {
    font-family: serif;
    font-size: 22px;
    color: #800000;
    margin: 0;
    padding-top: 5px;
    text-align: center;
}

footer {
    background-color: #F5DEB3;
}

.footer {
    text-align: center;
}